*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #83677b;
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #adadad;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: #1f2833;
    font-size: 1.01rem;
}
main hr{
    border: 0;
    background: #45a29e;
    height: 1.2px;
    margin: 30px 84px;
}
.left{
    font-size: 1.5rem;
    color: #1f2833;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px 0;
}
.firstSection > div{
    width: 30%;
}
.subtitle {
    letter-spacing: 1px;
    color: #c5c6c7;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 18px;
}
.leftSection{
    font-size: 2.0rem;
}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btn{
    padding: 12px;
    background: #1f2833;
    color: #c5c6c7;
    border: 2px solid #45a29e;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightSection img{
    display: grid;
    width: 80%;
    place-items: center;
}
.rightSection img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }
.purple{
    color: #1f2833;
}
.text-gray{
    color: #c5c6c7;
}
#element{
    color: #c5c6c7;
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box{
    background: white;
    width: 75vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
.image-top{
    width: 24px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;
}
.vertical-desc{
    position: relative;
    top: 86px;
    color: #c5c6c7;
    width: 150px;
    font-size: 12px;
}
footer {
    background-color: #5d5c61;
    color: white;
    padding: 18px;
    text-align: center;
}
footer .footer-rights{
    text-align: center;
    color: #c5c6c7;
    padding: 7px 0;
}
.social-icons {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.icon {
    margin: 0 10px;
    text-decoration: none;
}
.icon img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.icon:hover img {
    transform: scale(1.2);
}

/*footer{
    background-color: #0e0e1a;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div {
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
}
*/